body,
body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container button {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    top: 362px;
    left: 350px;
}
p {
    position: absolute;
    font-size: 24px;
    width: 80%;
    top: 605px;
}
